<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mr_framer_grocer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mr_Framer_Grocer">
        <activity android:name=".ChangePasswordActivity"></activity>
        <!-- MeiSiew -->
        <activity android:name=".AllCategory" />
        <activity android:name=".productList" /> <!-- JingHui -->
        <activity android:name=".MyCartActivity" />
        <activity android:name=".ProductDetailsActivity" /> <!-- TzeWei -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".PasswordChangedSuccessful" />
        <activity android:name=".PasswordRecoveryActivity" />
        <activity android:name=".PasswordResetSuccessful" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".SignUpActivity" /> <!-- ChiaLing -->
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>