<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mr_framer_grocer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mr_Framer_Grocer">
        <activity android:name=".AboutUs"/>
        <activity android:name=".OrderSuccessful" />
        <activity android:name=".TestingCheckout" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Delivery" />
        <activity android:name=".payment" />
        <activity android:name=".payment_successful" />
        <activity android:name=".ContactUs" />
        <activity android:name=".TestingHomeScreen" />
        <activity android:name=".Testing" />
        <activity android:name=".MyCartActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>